@using Practicas.Resources
@model Practicas.Models.NewUserModel

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm())
{
    @Html.LabelFor(m => m.Nombre)
    @Html.TextBoxFor(m => m.Nombre)
    @Html.ValidationMessageFor(m => m.Nombre)
    <button type="submit">Save</button>
}

    <a href="Index">Volver</a>
