@using Practicas.Resources
@model Practicas.Models.NewUsersModel

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    //$(document).ready(

    function prueba() {
        var usuario = "";
        var pw = "";
        //var boton = document.getElementById('btnenviar');
        usuario = document.getElementById('camponombre').value;
        pw = document.getElementById('campopw');
        // alert("holaaaa  " + usuario);

        if (usuario == campomodel) {
            alert("ok");
        }
        $('#lastName').value;
    }

    // );

</script>



<h2>Users</h2>
@if (Model != null)
{

    <table class="table table-bordered">
        <thead>

       
        <td>Nombre</td>
      

        </thead>

        @foreach (var user in Model.NewUsers)
        {
            <tr>
                <td>@user.Name</td>


            </tr>
        }
       
    </table>
}

    <form method="post" id="formulario">
        <div>
            <h1>@CommonResources.Login</h1>
            <label>Usuario &nbsp;</label>
            <input type="text" name="camponombre" id="camponombre" placeholder="Introduzca el nombre" required /><br />
            <label>Password</label>
            <input type="password" name="campopw" id="campopw" placeholder="Contraseña" required /><br />
            <button type="submit" id="btnenviar" onclick="prueba();" class="bg-success">Enviar</button>
        </div>
    </form>

