@model Practicas.Models.UsersModel

@{
    ViewBag.Title = "Index";
}

<h2>Users</h2>

@foreach (var user in Model.Users)
{
   <label>Nombre</label> <p>@user.Name</p>
   <label>Apellido</label><p>@user.Apellido</p>
}


