
@{
    ViewBag.Title = "ZonaAdmin";
}

<h2>Zona del Admin</h2>


<form method="post" id="formulario">
    <div>
        <input type="text" name="noUseMe" id="noUseMe" placeholder="Introduzca el nombre" required /><br />
        <button type="submit" id="btnenviar" class="bg-success">Logout</button>
    </div>
</form>
<br />
<h2 style="color:@ViewBag.color">@ViewBag.res</h2>